/* ----- PALETA DE CORES

    -- DARK OLIVE GREEN #5F6F52
    -- LAUREL GREEN     #A9B388
    -- CORNSILK         #FEFAE0
    -- LEMON MEINGUE    #F9EBC7
    -- CAMEL            #B99470
    -- ALLOY ORANGE     #C4661F
    -- RUSSET           #783D19

*/

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 /*  background-color: #783d19; */
 background-image: linear-gradient(#783d19, #f9ebc7)
    
}

/* CABEÇALHO */

header {
    padding: 30px;
    background-color: #FEFAE0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 5PX;
    
}

header h1 {
    font-size: 40px;
    font-style: italic;
    color:  #5F6F52;

}

header img {
    width: 15%;
    align-items: top;
    margin-bottom: 10px;
}


header nav ul {
    list-style-type: none;
    margin: 0;
    margin-left: 200px;
    padding: 0;
    display: inline-flex;
    gap: 20px;
}

header nav ul li a {
    color: #5F6F52;
}

/*PRIMEIRA SESSÃO*/

.primeira_sessao {
    padding: 50px;
    color: #FEFAE0;
    display: flex;
    justify-content:center;
    gap: 60px;
    
}

.primeira_sessao p {
    font-size: 20px;
    text-align: justify;
}

.primeira_sessao span{
    font-style: italic;
    color:blue;
}

.primeira_sessao img {
    width: auto;
    border-radius: 10px;
}

/* SEGUNDA SESSAO */

.segunda_sessao {
    float: left;
    margin-top: 0;
    align-content: center;
    width: 100%;

}

.segunda_sessao h2{
    margin-top: 5%;
    margin-left: 35%;
    color: #FEFAE0;
}

.segunda_sessao hr {
    width: 50%;
   
}

.segunda_sessao img {
    width: 30%;
    margin-top: 3%;
    margin-left: 3%;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    
}

/* TERCEIRA SESSAO*/

.terceira_sessao {
    margin-top: 40%;
    padding: 20%;
    width: 60%;
    background-image: url(img/people-2602736_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;

}

.terceira_sessao button {
    cursor: pointer;
    background-color:#bdbbb6b7 ;
    color:  #783d19;
    font-size: 30px;
    font-style: italic;
    padding: 30px;
    border-radius: 20px;
    margin-left: 280px;
}

/* FOOTER */
footer {
    margin-top: 5%;
  text-align: center; 

}

footer p {
    font-size: 15px;
}

footer a i {
    width: 50px;
    font-size: 30px;
    color:  #5F6F52
    
}

.autor {
    font-style: italic;
    font-size: 10px;
    padding: 10px;
}